.searchOption {
  border: 2px solid;
  border-radius: 1rem;
  width: 100%;
  margin-top: -2px;
  cursor: default;
  font-size: 1.25rem;
  padding: 0.3rem 1rem;
  text-wrap: nowrap;
  overflow:hidden;
}

.searchOption:hover {
  cursor: pointer;
  background-color: var(--main-font-color);
  border: 2px solid var(--main-font-color);
  color: var(--main-bg-color);
}
